




.nav{

    top:30px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 10px;
    z-index: 10;
    background: #fff;
    border-radius: 70px;

    .logo svg{
        width: 120px;
        height: 32px;
        margin-left: 15px;
    }

    .links{
        display: flex;
        flex-wrap: nowrap;
        a{
            display: inline-block;
            padding: 15px;
            vertical-align: middle;
            color: #000;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: -.02em;
            text-decoration: none;
            transition: all .3s ease;

            &:hover{
                color: #8330c2;
            }
        }
    
    }

    button{
        white-space: nowrap;
        background-color: #8330c2;
        height: 46px;
        padding: 0 22px;
        font-size: 16px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 500;
        border-radius: 50px;
    }
}