.container {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #fff2d1;
    overflow-x: hidden;
    margin-bottom: 100vh;

    canvas{

      &:nth-child(1){
        display: none;
      }
    }

  }
  